.AboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.BioData{
    background-color: white;
    width: 21rem;
    height: 12rem;
    border-radius: 10px;
    margin-top: 15px;
    /* box-shadow: 0 20px 40px rgb(129, 207, 233); */
    padding: 10px;

}
.dobgen{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    border-bottom: 1px solid lightblue;
}
.name{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightblue;
}
.info{
    padding-left: 10px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21rem;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: 0 20px 40px rgb(129, 207, 233); */


}
.projects>*{
    border-top: 1px solid lightblue;
    padding: 10px;
}
.projects>h2{
    border-top: 1px solid transparent;

    border-bottom: 1px solid transparent;
}


.heading{
    font-weight: 800;
}
.Project3{
    border-bottom: 1px solid transparent;
}
.skills{
    background-color: white;
    width: 20rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0 20px 40px rgb(129, 207, 233); */

}
.innerskill{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightblue;
    width: 100%;

}

.innereducation{
    width: 100%;
}
.education{
    background-color: #fff;
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 20px 40px  rgb(129, 207, 233); */
    padding: 10px;
    width: 100%;
    

}

.scaler{
    border-top: 1px solid lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-left: 10px; */
    width: 100%;
}

.bits{
    border-top: 1px solid lightblue;
    padding-top: 5px;
    width: 100%;
    /* padding-left: 10px; */

}

@media (min-width: 1000px ) {
    .AboutContainer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .right{
        margin-top: 15px;
        width: 40rem;
    }
    .projects{
        width: 40rem;
    }
    .skills{
        width: 39rem;
    }


}