*{
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: normal;
 }

h2{
  font-family: "Lora", serif;
  font-weight: 1000;
  font-style: normal;

}
nav{

    display: flex;
    background-color:rgb(6, 72, 119);
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;

  
}
body{
  margin: 0;
  padding: 0;
}

.title{
  font-weight: bold;
}

.teaser{
  font-weight: normal;
}


.blogCard{
    height: 3rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 5px;
    /* border-top: 1px solid lightblue; */
    border-bottom: 1px solid lightblue;
    box-shadow: 0 10px 20px  lightblue;
    border-radius: 3px;
    background-color: white ;
}
.index{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}
a { 
    color: black;
    text-decoration: none;
    
  }
  

.blogCard:hover{
  background-color: rgb(250, 254, 255);
  scale: 1.009;
  
}