*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;/* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
 }

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

nav{
    width: 25rem;
    /* height: 2rem; */
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.6);
    /* box-shadow: 1px -1px rgba(255, 255, 255, 0.467) ; */
    background-color:rgba(255, 255, 255, 0.586);
    border-radius: 2rem;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;

  
}
body{
  margin: 0;
  padding: 0;
}

.title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  /* font-weight: bold; */
}

.teaser{
  font-weight: normal;

}


.blogCard{
  /* font-size: 1; */
    /* height: rem; */
    
    display: flex;
    flex-direction: column; 
    
    /* justify-content: space-between; */
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* border-top: 1px solid lightblue; */
    /* border-bottom: 1px solid lightblue; */
    border: 1px solid white;
    /* box-shadow: 0 10px 20px  lightblue; */
    /* border-radius: 5px; */
    background-color: rgba(255, 255, 255, 0.681) ; 
}
.index{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}
a { 
    color: black;
    text-decoration: none;
    
  }
  

.blogCard:hover{
  background-color: rgb(255, 255, 255);
  /* scale: 1.009; */
  
}


.contactContainer{
  border-color: white;
}