body{
    /* background-image: -webkit-linear-gradient(65deg, rgb(255, 255, 255),rgb(192, 238, 253),white); */
    background-image: -webkit-linear-gradient(60deg,rgba(78, 214, 241, 0.147),rgba(78, 214, 241, 0.442),rgba(78, 214, 241, 0.223));
    /* background-repeat: repeat-x;
    background-repeat: repeat-y;    background-image: -webkit-linear-gradient(65deg, rgb(255, 0, 0),rgb(190, 229, 242)); */
    height: 100%;
    width: 100%;
}
html{
    height: 1000%;
    width: 100%;
}